*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "ariel bold", sans-serif;
}

body{
    background: linear-gradient( rgb(96, 96, 96), hsl(17, 42%, 55%));
    bottom: 100%;
}

